html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #F3F5F8;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;
    color: #676a6d;
}

a {
    color: #3287B2;
}

a:hover, a:focus {
    color: #3b98c8;
    text-decoration: none;
}

th {
    font-weight: 600;
}